/* src/components/Blogs/Blogs.module.css */

.blogsContainer {
  padding: 20px;
}

.recentBlogs, .allBlogs {
  margin-bottom: 20px;
}

.blogCardLink {
  text-decoration: none;
  color: inherit;
}

.blogCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s;
}

.blogCard:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
